/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* Asegura padding en dispositivos con muesca */
ion-header {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2+ */
}
/* Fallback para dispositivos sin soporte */
ion-content {
  --padding-top: 20px;
}